@use "../Nav.scss" as *;

h2{
    @include flex-center(flex-start);
    gap: 0.7rem;
    width: 100%;


    img{
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        background-color: white;
        border-radius: 2px;
    }
}

